.post-reward {
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  user-select:none;
  
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  border-top: 1px dashed #e6e6e6;

  .reward-button {
    margin: 15px 0;
    padding: 3px 7px;
    display: inline-block;
    color: #c05b4d;
    border: 1px solid #c05b4d;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: #fefefe;
      background-color: #c05b4d;
      transition: 0.5s;
    }
  }

  #reward:checked {
    & ~ .qr-code {
      display: block;
    }

    & ~ .reward-button {
      display: none;
    }
  }

  .qr-code {
    display: none;

    .qr-code-image {
      display: inline-block;
      min-width: 200px;
      width: 40%;
      margin-top: 15px;

      span {
        display: inline-block;
        width: 100%;
        margin: 8px 0;
      }
    }

    .image {
      width: 200px;
      height: 200px;
    }
  }
}

.donate {
  position: relative;
}
.donate .qrcode {
  display: none;
  position: absolute;
  z-index: 99;
  bottom: 2.5em;
  line-height: 0;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1);
  border-radius: 4px;
}
.donate .qrcode img {
  max-width: 280px;
}
.donate:hover .qrcode {
  display: block;
}
.donate:first-child:not(:last-child) .qrcode {
  left: -0.75rem;
}
.donate:last-child:not(:first-child) .qrcode {
  right: -0.75rem;
}
.donate[data-type="afdian"] {
  color: #fff;
  background-color: #885fd9;
  border-color: transparent;
}
.donate[data-type="afdian"]:active {
  background-color: #794ad4;
}
.donate[data-type="afdian"]:hover {
  background-color: #8055d7;
}
.donate[data-type="afdian"]:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(136,95,217,0.25);
}
.donate[data-type="alipay"] {
  color: #fff;
  background-color: #00a0e8;
  border-color: transparent;
}
.donate[data-type="alipay"]:active {
  background-color: #008ecf;
}
.donate[data-type="alipay"]:hover {
  background-color: #0097db;
}
.donate[data-type="alipay"]:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(0,160,232,0.25);
}
.donate[data-type="buymeacoffee"] {
  color: rgba(0,0,0,0.7);
  background-color: #fd0;
  border-color: transparent;
}
.donate[data-type="buymeacoffee"]:active {
  background-color: #e6c700;
}
.donate[data-type="buymeacoffee"]:hover {
  background-color: #f2d200;
}
.donate[data-type="buymeacoffee"]:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255,221,0,0.25);
}
.donate[data-type="paypal"] {
  color: rgba(0,0,0,0.7);
  background-color: #feb700;
  border-color: transparent;
}
.donate[data-type="paypal"]:active {
  background-color: #e5a500;
}
.donate[data-type="paypal"]:hover {
  background-color: #f1ae00;
}
.donate[data-type="paypal"]:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(254,183,0,0.25);
}
.donate[data-type="patreon"] {
  color: #fff;
  background-color: #ff424d;
  border-color: transparent;
}
.donate[data-type="patreon"]:active {
  background-color: #ff2835;
}
.donate[data-type="patreon"]:hover {
  background-color: #ff3541;
}
.donate[data-type="patreon"]:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255,66,77,0.25);
}
.donate[data-type="wechat"] {
  color: #fff;
  background-color: #1aad19;
  border-color: transparent;
}
.donate[data-type="wechat"]:active {
  background-color: #179716;
}
.donate[data-type="wechat"]:hover {
  background-color: #18a217;
}
.donate[data-type="wechat"]:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(26,173,25,0.25);
}